@model UCP1PraktikumPAW.Models.Garansi

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Garansi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kerusakan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kerusakan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JenisGaransi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JenisGaransi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdJasaKirimNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdJasaKirimNavigation.IdJasaKirim)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdGaransi" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
