@model IEnumerable<UCP1PraktikumPAW.Models.Customer>

@{
    ViewData["Title"] = "CUSTOMER";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Customer")
            </th>
            <th>
                @Html.DisplayName("Email Customer")
            </th>
            <th>
                @Html.DisplayName("Alamat Customer")
            </th>
            <th>
                @Html.DisplayName("No Hp Customer")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlamatCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoHpCustomer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCustomer"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdCustomer"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdCustomer"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
